html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Varela Round', sans-serif;
    background: rgb(228,232,238);
    margin: 0;
    padding: 0;
}

#intro {
    background: rgb(18,107,237);
    background: linear-gradient(rgb(10, 85, 198), rgb(101,236,169));
    width: 100vw;
    height: 100vh;
}

nav {
    background: rgb(228,232,238);
    background: linear-gradient( rgb(228,232,238), rgb(217,240,244));
    color: rgb(10, 85, 198);
}

#interests {
    background-color: rgb(101,236,169);
    width: 100vw;
    height: 100vh;
}

#projects {
    background: rgb(101,236,169);
    background: linear-gradient(rgb(101,236,169), rgb(10, 85, 198));
    width: 100vw;
    height: 100vh;
}

footer {
    background-color: rgb(10, 85, 198);
    width: 100vw;
    height: 10vh;
}