html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Varela Round', sans-serif;
    background: rgb(2,9,20);
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background: rgb(2,9,20);
    background: linear-gradient( rgb(2,9,20), rgb(16,35,55));
}

#name {
    font-size: 35px;
    margin: 0;
    padding-left: 5vw;
}

#nav-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    font-size: 28px;
    list-style-type: none;
}

#name a, .nav-link {
    color: #d1daee;
    text-decoration: none;
}

span {
    cursor: pointer;
    padding-right: 5vw;
}

#light-button, #dark-button, #menu-open, #menu-close {
    color: #d1daee;
}

#light-button {
    display: none;
}

#menu-open, #menu-close {
    display: none;
}

#nav-mobile {
    display: none;
}

@media (max-width: 1000px) {
    #menu-open {
        display: inline-block;
    }

    #nav-links {
        display: none;
    }
}


#intro {
    width: 100vw;
    height: 100vh;
    background: rgb(12,34,69);
    background: linear-gradient(rgb(12,34,69), rgb(15,72,128));
}

#interests {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15,72,128);
    width: 100vw;
    height: 100vh;
}

#activity-container {
    background: rgb(2,9,20);
    background: linear-gradient( rgb(2,9,20), rgb(16,35,55));
    height: 80vh;
    width: 95vw;
    border-radius: 20px;
}

#projects {
    background: rgb(15,72,128);
    background: linear-gradient(rgb(15,72,128), rgb(12,34,69));
    width: 100vw;
    height: 100vh;
}

footer {
    background-color: rgb(12,34,69);
    width: 100vw;
    height: 10vh;
}